#wrapper {
  position:relative;
  width:960px;
  margin:0 auto;
  padding-top:75px;}

<!-- Blackboard -->
  #blackboardPlaceholder {
  background-color: blue;
  width:924px;
  height:599px;
  margin:0 auto;
  padding:14px 0 75px 14px;
  cursor:crosshair;
}