{% load static %}

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!-- External CSS Document(s) -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.tipsy.css' %}">

<title>Online Drawing Application | Web Design Deluxe</title>

<!-- Eternal JavaScript Document(s) -->
    <script src="{% static 'js/canvas2image.js' %}"></script>
  <script src="{% static 'js/canvas.js' %}"></script>
    <script src="{% static 'js/jquery.tipsy.js' %}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

</head>
<body>

<!-- Wrapper Begins -->   <div id="wrapper">
        <!-- Color Table (controlled in JavaScript) -->
<div id="colorTable"></div>
<!-- Toggle Color Button -->
<div id="color" title="Toggle Color">
<img src="{% static 'images/color-arrow.png' %}" alt="Toggle Color" width="16" height="16" />
</div>

        <div id="blackboardPlaceholder">
            <p>
                <!-- Tool Selector -->
            <select name="selector" id="selector">
            <option value="chalk">Chalk</option>
            <option value="line">Line</option>
            <option value="rect">Rectangle</option>
            </select>
            </p>
            <!-- Canvas Begins -->
           <canvas id="drawingCanvas" height="532" width="897">
            <p class="noscript">We're sorry, this web application is currently not supported with your browser. Please use an alternate browser or download a supported <br />browser. Supported browsers: <a href="http://www.google.com/chrome">Google Chrome</a>, <a href="http://www.opera.com">Opera</a>, <a href="http://www.mozilla.com">Firefox</a>, <a href="http://www.apple.com/safari">Safari</a>, <br />and <a href="http://www.konqueror.org">Konqueror</a>. Also make sure your JavaScript is enabled.</p>
           </canvas>
            <!-- Canvas Ends -->


            <!-- Eraser -->
       <div id="eraser" onclick="context.strokeStyle = '#424242'; context.lineWidth = '22';"></div>

        </div>
    <!-- Toggle Stroke Weight -->
<img src="{% static 'images/toggle.png' %}" width="16" height="16" id="stroke-subtract" title="Decrease Stroke" onclick="context.lineWidth--;" />
<img src="{% static 'images/toggle-expand.png' %}" width="16" height="16" id="stroke-add" title="Increase Stroke" onclick="context.lineWidth++;" />
    <!-- Stroke Weight Panel -->
<div id="strokeWeight">
<img src="{% static 'images/stroke1.png' %}" alt="1.0" class="stroke" width="30" height="32" onclick="context.lineWidth = '1.0';" />
<img src="{% static 'images/stroke2.png' %}" alt="6.0" class="stroke" width="30" height="32" onclick="context.lineWidth = '6.0';" />
<img src="{% static 'images/stroke3.png' %}" alt="9.0" class="stroke" width="30" height="32" onclick="context.lineWidth = '9.0';" />
<img src="{% static 'images/stroke4.png' %}" alt="13.0" class="stroke" width="30" height="32" onclick="context.lineWidth = '13.0';" />
</div>
    <!-- Clear Canvas Button -->
<div id="nuke" title="Clear Canvas">
<a href="javascript:location.reload(true)">
<img src="{% static 'images/burn.png' %}" alt="Clear Canvas" width="16" height="16" />
</a>
</div>

  <!-- Save Image -->
<div id="saveWrapper">
<div id="save">
<img src="{% static 'images/abacus.png' %}" alt="Save Image" width="16" height="16" id="convertpngbtn" title="Save Image" />
</div>
<div id="textdownload">
 Right click the image to download.
 <img src="{% static 'images/abacus.png' %}" alt="Cancel" width="16" height="16" id="resetbtn" title="Continue Drawing" />
</div>
</div>
</div>

</body>